.comment {
    display: flex;
    align-items: center;
    gap: 10px;
}

.comment-body {
    padding: 10px;
    background: var(--background);
    border-radius: 15px;

}
.comment-body h4 {
    margin: 0;
}