

#settings-page h3 {
    margin: 0;
}


/* Account */
.account-settings {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.account-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.account-options button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
    font-size: 1em;
    border-radius: var(--default-border-radius);
    font-weight: 500;
}
.account-options button:hover {
    background: rgba(0, 0, 0, 0.05);
}

/* General */
.general-settings {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.general-options > * {
    padding: 10px;
    font-weight: 500;
}







/* dark mode toggle */
.dark-mode-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.switch {
    position: relative;
    display: inline-block;;
    width: 30px;
    height: 15px;
    transform: translateY(2px)
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    background: gray;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content:"";
    height: 13px;
    width: 13px;
    left: 2px;
    bottom: 1.1px;
    background-color: white;
    transition: .4s;
    border-radius:50%;
}
input:checked + .slider  {
    background-color:var(--logo-color);
}
input:checked + .slider:before {
    transform: translateX(12px)
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(500%)
    }
    100% {
        opacity: 1;
        transform: translateY(-100%);
    }
}