

#settings-page h3 {
    margin: 0;
}
/* Modals */
.warning-modal-overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
.warning-modal {
    background: var(--foreground);
    width: 300px;
    border-radius: var(--default-border-radius);
    animation: slideUp .2s ease forwards;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    padding: var(--default-internal-padding);
} 
.warning-modal p {
    color: var(--default-red);
    font-weight: bolder;
    text-align: center;

}
.confirmation-container {
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-top: var(--default-internal-padding)
}
.confirmation-container button:nth-of-type(1) {
    border: 1px solid var(--default-border-color);
    border-radius: var(--default-border-radius);
    padding: 5px;
    color: var(--default-border-color)
}
.confirmation-container button:nth-of-type(2) {
    border-radius: var(--default-border-radius);
    padding: 5px;
    border: 1px solid var(--default-red);
    color: var(--default-red)
}
/* Account */
.account-settings {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.account-options {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: flex-start;
}
.account-options button {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 10px;
    border-radius: var(--default-border-radius);
}
.account-options button:hover {
    background: rgba(0, 0, 0, 0.05);

}

/* General */








/* dark mode toggle */
.dark-mode-container {
    display: flex;
    align-items: center;
    gap: 10px;
}
.switch {
    position: relative;
    display: inline-block;;
    width: 30px;
    height: 15px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    background: gray;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    transition: .4s;
    border-radius: 34px;
}
.slider:before {
    position: absolute;
    content:"";
    height: 13px;
    width: 13px;
    left: 4px;
    bottom: 1.1px;
    background-color: white;
    transition: .4s;
    border-radius:50%;
}
input:checked + .slider  {
    background-color:var(--logo-color);
}
input:checked + .slider:before {
    transform: translateX(12px)
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(500%)
    }
    100% {
        opacity: 1;
        transform: translateY(-200%);
    }
}