
.create-comment-form {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.comment-form-top {
    display: flex;
    gap: 10px;
    align-items: center;
}
.create-comment-form textarea {
    resize: none;
    background: var(--background);
    border: 1px solid var(--default-border-color);
    padding: 10px;
    border-radius: var(--default-border-radius);
    font-family: Satoshi Variable;
    font-size: 1em;
    width: 90%;
}
.create-comment-form textarea:focus {
    outline: none;
}
.create-comment-form button {
    border: 1px solid green;
    align-self: flex-end;
}

.comment-feed {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
