
.create-comment-form {
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: flex-start;
}

.create-comment-form textarea {
    background: var(--background);
    border: none;
    border-radius:50px;
    font-family: Satoshi Variable;
    font-size: 1em;
    padding: 5px;
    padding-left: 10px;
    resize: none;
    width: 80%;
    height: fit-content;
    border: 1px solid var(--default-soft-border);
}
.create-comment-form textarea:focus {
    outline: none;
    border: 1px solid var(--default-border-color)
}
.create-comment-form button {
    background: var(--logo-color);
    color: white;
    margin-left: auto;
    padding: 5px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: vaR(--default-border-radius);
}
.create-comment-form button:hover {
    background: rgb(44, 121, 254);
    transition: .2s;
}

.comment-feed {
    display: flex;
    flex-direction: column;
    gap: 10px;
}
