.user-icon {
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
    font-size: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: bold;
}