
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    border-radius: 5px;
    font-family: poppins;
}
body {
    background: rgb(242, 244, 250);
    overflow:hidden;
}

/* ===== ROOT LAYOUT ===== */
.root-layout {
    display: flex;
    height: 100vh;
    
}
.root-sidebar {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .7fr 5fr .7fr;
    flex-direction: column;
    position: sticky;
    background: white;
    justify-content: flex-start;
    z-index: 10;
    height: 100%;
    min-width: 300px;
}
.root-sidebar > * {
    padding-left: 20px;
}

.sidebar-top {
    font-size: 25px;
    display: flex;
    font-style: italic;
    align-items: center;
    
}
.sidebar-middle {
    display: flex;
    flex-direction: column;
    gap: 20px;
    font-size: 23px;
   
    
}
.sidebar-middle a {
    display: flex;
    align-items: center;
    gap: 10px;
}
.sidebar-bottom {
    display: flex;
    align-items: center;
}
.sidebar-bottom button {
    font-size: 23px;
    display: flex;
    align-items: center;
    gap: 10px;
}


.profile-menu {
    display: flex;
    align-items: flex-start;
    position: static;
    z-index: 1000;
    background: rgb(255, 255, 255);
    border: 1px dashed black;
 
}
.profile-menu button {
    font-size: 15px;
    padding: 5px;
}

.outlet {
    min-width: 800px;
    position: relative;
    z-index: 1;  
    overflow: scroll;
    
}
.info-sidebar {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-right: 20px;
    padding-top: 20px;

}

.info-content {
    background: rgb(22, 24, 36);
    width: 100%;
    height: 60%;

}

/* ===== GLOBAL COMPONENTS ===== */
a {
    text-decoration: none;
    cursor: pointer;
}
a:visited {
    color: black;
}
button {
    border: none;
    background: none;
    cursor: pointer;
    color: black;
}

li {
    list-style-type: none;
}

/* ===== GLOBAL PAGE STYLES ===== */
.page {
    padding: 20px;
}
.page > * {
    border: .1px solid rgba(255, 255, 255, 0.486);
    margin-bottom: 15px;
}
.page > * > * {
    border: .1px solid rgba(252, 0, 0, 0.238);
}

.page main > * {
    margin-bottom: 10px;
}

.page-header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;  
}
.page-header button {
    display: flex;
  
}


/* ===== GLOBAL FORM STYLES ===== */
.form-page {
    z-index: 50;
    border: 2px solid red;
    position: fixed;
    background: white;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.user-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* ===== DARK MODE ===== */
.dark-mode {
    color: white;
    background: rgb(11, 12, 19); 
}
.dark-mode a {
    color: white;
}
.dark-mode button {
    color: white;
}
.dark-mode .root-sidebar {
    background: rgb(22, 24, 36);
}
.dark-mode .nav-bar-left {
    color: white;
}
.dark-mode .nav-bar-right a button {
    color: white;
}
.dark-mode .profile-menu {
    background: rgb(40, 44, 66);
    border: .5px solid rgba(255, 255, 255, 0.242);
}


