
/* ===== ROOT LAYOUT ===== */
:root {
    --background: rgb(238, 238, 238);
    --foreground: white;
    --logo-color: rgb(237, 87, 180);
    --nav-font-color: rgba(0, 0, 0, 0.499);
    --default-border-radius: 5px;
    --default-padding: 25px;
 
}
body {
    margin:  0;
    padding: 0;
    font-family: satoshi variable;
    background: var(--background);  
}
a {
    text-decoration: none;
}
button {
    font-family: satoshi variable;
}
.root-layout {
    display: grid;
    grid-template-areas: "header header header" "nav outlet sidebar";
    grid-template-columns: 250px 1fr 350px;
    grid-template-rows: 60px 1fr;
    height: 100vh;
}
.root-header {
    grid-area: header;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    color: var(--logo-color);
    display: flex;
    align-items: center;
    padding-left: var(--default-padding);
    background-color: var(--foreground)
}
.root-nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: var(--default-padding);
    background-color: var(--foreground)
}
.root-nav a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: var(--default-border-radius);
    transition: .1s;
    font-size: .9em;
}
.root-nav > .nav-links > a.active {
    color: var(--logo-color);
    background:var(--highlighter);
    font-weight: 500;
}
.root-nav a:visited, .root-nav a {
    color: var(--nav-font-color)
}
.nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    font-size: 1.5em;
}
.nav-bottom {
    display: flex;
    align-items: center;
    height: 100px;
    position: relative;
}
.nav-bottom button {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--nav-font-color);
}
.profile-menu {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 0;
    z-index: 1000;
    border: 1px dashed black;
}
.profile-menu button {
    font-size: 15px;
    padding: 5px;
}

.outlet {
    grid-area: outlet;
    overflow-y: auto;
    padding: var(--default-padding);
    display: flex;
    justify-content: center;
}
.info-sidebar {
    grid-area: sidebar;
    display: flex;
    justify-content: center;
    padding: var(--default-padding);
    border-left: 1px solid var(--default-border-color);
}
.info-content {
    background: var(--foreground);
    width: 100%;
    height: 60%;
    border-radius: vaR(--default-border-radius);
    border: 1px solid var(--default-border-color)
}

/* ===== GLOBAL COMPONENTS ===== */

button {
    border: none;
    background: none;
    cursor: pointer;
    color: white;
}

li {
    list-style-type: none;
}

/* ===== GENERIC PAGE STYLES ===== */
.page {
    width: 900px;
    min-width:300px;
}
.page > * {
    margin-bottom: 15px;
    background: var(--foreground);
    border-radius: var(--default-border-radius);
    border: 1px solid var(--default-border-color)
}



.page-header {
    display: flex;
    font-size: 20px;  
    align-items: center;   
    color: white;
}
.page-header button {
    display: flex;
}


@media (max-width: 1225px) {
    span {
        display: none;
    }
    .root-nav{
        align-items: center;
    }
    .root-layout {
        grid-template-columns: auto 1fr 350px;
    }
}
@media (max-width: 1040px) {
    .root-layout {
        grid-template-columns: auto 1fr;
    }
    .info-sidebar {
        display: none;
    }
}
@media (max-width: 700px) {
    .root-layout {
        grid-template-columns: 1fr;
        grid-template-rows: 60px 1fr 60px;
        grid-template-areas: "header" "outlet" "nav"
    }
    .nav-bottom {
        display: none;
    }
    .root-nav {
        justify-content: center;
        border-top: 1px solid var(--default-border-color)
    }
    .nav-links {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        width: 100%;
    }
}



