
/* ===== ROOT LAYOUT ===== */
:root {
    --background: rgb(17,17,17);
    --foreground: rgb(30,31,36);
    --logo-color: rgb(70,132,247);
    --nav-font-color: rgba(255, 255, 255, 0.637);
    --default-border-color: rgba(255, 255, 255, 0.15);
    --default-border-radius: 5px;
    --default-padding: 25px;
    --highlighter: rgba(255, 255, 255, 0.046);
}
body {
    margin:  0;
    padding: 0;
    font-family: satoshi variable;
    background: var(--background);  
}
a {
    text-decoration: none;
}
.root-layout {
    display: grid;
    grid-template-areas: "header header header" "nav outlet sidebar";
    grid-template-columns: 275px 1fr 350px;
    grid-template-rows: 60px 1fr;
    height: 100vh;
}
.root-header {
    grid-area: header;
    border-bottom: 1px solid var(--default-border-color);
    color: var(--logo-color);
    display: flex;
    align-items: center;
    padding-left: var(--default-padding);
}
.root-nav {
    grid-area: nav;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-right: 1px solid var(--default-border-color);
    padding: var(--default-padding);
}
.root-nav a {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px;
    border-radius: var(--default-border-radius);
    transition: .3s;
}
.root-nav > .nav-links > a.active {
    color: var(--logo-color);
    background:var(--highlighter);
}
.root-nav a:visited, .root-nav a {
    color: var(--nav-font-color)
}


.nav-links {
    display: flex;
    flex-direction: column;
    gap: 20px;
    flex: 1;
    font-size: 1.5em;
}
.nav-bottom {
    display: flex;
    align-items: center;
    height: 100px;
    position: relative;
}
.nav-bottom button {
    font-size: 1.5em;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
}
.profile-menu {
    display: flex;
    align-items: flex-start;
    position: absolute;
    top: 0;
    z-index: 1000;
    border: 1px dashed black;
 
}
.profile-menu button {
    font-size: 15px;
    padding: 5px;
}

.outlet {
    grid-area: outlet;
    overflow-y: auto;
    padding: var(--default-padding);
    display: flex;
    justify-content: center;
}
.info-sidebar {
    grid-area: sidebar;
    display: flex;
    justify-content: center;
    padding: var(--default-padding);
    border-left: 1px solid var(--default-border-color);
}
.info-content {
    background: var(--foreground);
    width: 100%;
    height: 60%;
    border-radius: vaR(--default-border-radius);
}

/* ===== GLOBAL COMPONENTS ===== */

button {
    border: none;
    background: none;
    cursor: pointer;
    color: black;
}

li {
    list-style-type: none;
}

/* ===== GENERIC PAGE STYLES ===== */
.page {
    width: 900px;
    min-width:600px;
}
.page > * {
    border: .1px solid rgba(255, 255, 255, 0.486);
    margin-bottom: 15px;
}
.page > * > * {
    border: .1px solid rgba(252, 0, 0, 0.238);
}

.page main > * {
    margin-bottom: 10px;
}

.page-header {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;  
}
.page-header button {
    display: flex;
  
}


@media (max-width: 1225px) {
    span {
        display: none;
    }
    .root-nav{
        align-items: center;
    }
    .root-layout {
        grid-template-columns: auto 1fr 350px;
    }
}



