/*  ===== GREETING PAGE ===== */
.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--default-padding);
    border-radius: var(--default-border-radius);
    gap: 20px;
    color: var(--post-text-color);
}
.greeting h1 {
    font-weight: 300;
}

.links-container {
    display: flex;
    gap: 20px;
}
.links-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    font-weight: bolder;
    color: white;
    border-radius: var(--default-border-radius)
}
#login-a {
    background: var(--logo-color);
    color: white;
}
#register-a{
    background: var(--secondary-color);
    color: white;
}
#login-a:hover, #register-a:hover {
    transform: scale(1.05);
    transition: .2s;
}


/* ===== HOME ===== */
#home-page main {
    background: var(--background);
}
.create-modal {
    background: var(--foreground);
    padding: var(--default-padding)
}
.post-feed {
    padding:0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.post-feed > * {
    margin-bottom: 10px;
}

/* ==== Form ==== */
.create-post-overlay {
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.2);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}
.create-post-form {
    animation: slideUp .2s ease forwards;
    position: relative;
    background: var(--foreground);
    width: 400px;
    border-radius: var(--default-border-radius);
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.create-post-form  textarea{
    margin-top: 20px;
    resize: none;
    border: none;
    background: var(--background);
    outline: none;
    font-family: satoshi variable;
}
.create-post-btns button[type="submit"] {
    background: vaR(--logo-color);
    color: white;
    width: 50px;
}
.exit-create-btn {
    position: absolute;
    top: 5;
    left: 5;
}

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(500%)
    }
    100% {
        opacity: 1;
        transform: translateY(-150%);
    }
}