/*  ===== GREETING PAGE ===== */
.greeting {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: var(--default-padding);
    border-radius: var(--default-border-radius);
    gap: 20px;
    color: var(--post-text-color);
}
.greeting h1 {
    font-weight: 300;
}

.links-container {
    display: flex;
    gap: 20px;
}
.links-container a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 200px;
    height: 40px;
    font-weight: bolder;
    color: white;
    border-radius: var(--default-border-radius)
}
#login-a {
    background: var(--logo-color);
    color: white;
}
#register-a{
    background: var(--secondary-color);
    color: white;
}
#login-a:hover, #register-a:hover {
    transform: scale(1.05);
    transition: .2s;
}


/* ===== HOME ===== */
#home-page main {
    background: var(--background);
}

.create-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    background: var(--foreground);
    border-radius: var(--default-border-radius);
    border: 1px solid var(--default-border-color);

}
.create-post-form button {
    font-size: 15px;
    border: 1px solid green;
    align-self: flex-end;
}
.create-post-form textarea {
    height: 50px;
    width: 98%;
    background: none;
    resize: none;  
    transition: .3s;
    border: none;
    padding: 7px;
    font-size: 20px;

}
.create-post-form textarea:focus {
    outline: none;
    scale: 1.01;
}

.post-feed {
    padding:0;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.post-feed > * {
    margin-bottom: 10px;
}
