.post {
    display: flex;
    flex-direction: column;
    background: var(--foreground);
    border-radius: var(--default-border-radius);
    color: var(--post-text-color);
    padding: var(--default-internal-padding);
} 
 
.post-header {
    display: flex;
}
.post-header h4 {
    margin: 0;
    font-size: 1.15em;
}

.username{
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 1em;
    color: var(--post-text-color);
    font-weight: bold;
}
.delete-post-btn {
    margin-left: auto;
}
.post-content {
    display: flex;
    flex-direction: column;
    gap: 15px;
    border: 1px solid red;
}

.text {
    border: 1px solid red;
    overflow-wrap: break-word;
    white-space: normal;
    word-wrap: break-word;
}
.post-content .date {
    font-size: 1em;
    font-weight: 500;
    color: var(--default-border-color)
}
.post-details {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    border-top: 1px solid var(--default-border-color);
    color: var(--nav-font-color);
    align-items: center;
    padding-top: 10px;
}
.post-details p, .post-details svg {
    color: var(--nav-font-color);
    font-weight: 500;
}
.post-save {
    margin-left: auto;
}
.post-details > * > * {
    display: flex;
    font-size: .9em;
    align-items: center;
    gap: 10px;
}
