/* ==== Follow Modal ==== */
.follow-list-overlay {
    position: absolute;
    height: 100vh;
    width: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}
.follow-list-container {
    transform: translateY(-20px);
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    background: var(--foreground);
    border-radius: var(--default-border-radius);
    animation: slideUp .2s ease forwards;
}
.follow-list-container header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid vaR(--default-border-color);
    padding-bottom: 10px;
}
.follow-list-container h4 {
    margin: 0;
}
.follow-list {
    background: white;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 0;
}
.follow-list li a {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

/* ==== Edit Modal ==== */

/* ==== Profile Details ==== */
.profile-info {
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.profile-banner {
    z-index: 0;
    height: 115px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: vaR(--default-green);
    border-top-left-radius: var(--default-border-radius);
    border-top-right-radius: var(--default-border-radius);


}
.profile-username {
    display: flex;
    flex-direction: column;
    margin: 0;
    margin-top: 50px;
    color: var(--post-text-color);
    z-index: 1;
}
.profile-username .user-icon {
    border: 3px solid var(--foreground);
    width: 3em;
    height: 3em;
}

.profile-btn {
    width: 170px;
    padding: 5px;
    border-radius: var(--default-border-radius);
    font-weight: 500;
}
.follow {
    background: var(--logo-color);
    color: white;
}
.unfollow {
    background: var(--background);
    color: var(--post-text-color);
}
.edit-btn {
    background: var(--background);
    color: var(--post-text-color);
    border: 2px solid var(--default-border-color);
}

.profile-no-bio {
    font-style: italic;
}
.profile-date {
    color: grey;
    font-style: italic;
}

.follow-display {
    display: flex;
    gap: 10px;
}
.followers, .following {
    color:grey;
    cursor: pointer;
}
.follow-count {
    font-weight: bold;
    color: var(--post-text-color);
}


/* ==== Profile Feed === */
.profile-history {
    background: var(--background);
    padding: 0; 
}
.feed-options {
    display: flex;
    justify-content: space-evenly;
}
.feed-options button {
    width: 100%;
    padding: 10px;
    background: var(--foreground);
    cursor: pointer;
    border-bottom: 2px solid var(--foreground)
}
.feed-options button:nth-of-type(1) {
    border-top-left-radius: var(--default-border-radius);
}
.feed-options button:nth-of-type(2) {
    border-top-right-radius: var(--default-border-radius);
}
.feed-options button.active {
    border-bottom: 2px solid var(--logo-color)
}
.feed-options button:hover {
    background: var(--background);
}

.profile-feed {
    padding-left: 0;
    display: flex;
    flex-direction: column;
    gap: 10px;
}






@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(500%)
    }
    100% {
        opacity: 1;
        transform: translateY(-10px);
    }
}