/* GLOBAL STYLES */

* {
    margin: 0;
}
.root-layout {
    border: 1px solid red;
}
.root-header {
    display: flex;
    position: relative;
    align-items: center;
    border: 1px solid blue;
    justify-content: space-between;
    padding: 10px;
}
.nav-bar-left {
    margin-left: 130px;
}
.nav-bar-right {
    margin-right: 130px;
    display: flex;
    gap: 20px;
}
.profile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    z-index: 100;
}



main {
    margin-left: 130px;
    margin-right: 130px;
    border: 1px solid green;
    position: relative;
}

/* page styles */

.page-header {
    display: flex;
    gap: 10px;
}

/* form styles */
.form-page {
    z-index: 50;
    border: 2px solid red;
    position: fixed;
    background: white;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.user-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}