
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');



* {
    margin: 0;
    border-radius: 2px;
}
body {
    background: rgb(242, 244, 250);
}

/* ===== ROOT LAYOUT ===== */
.root-layout {
    border: 1px solid red;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.root-header {
    display: flex;
    position: sticky;
    background: white;
    justify-content: center;
    z-index: 10;
    width: 100%;
}
.nav-wrapper {
    min-width: 900px;
    max-width: 1100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-bar-left {
    color: rgb(0, 34, 255);
}
.nav-bar-right {
    display: flex;
    gap: 10px;
}
.profile-menu {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 75%;
    z-index: 1000;
    background: rgb(255, 255, 255);
    border: 1px dashed black;
}
.profile-menu * {
    color: black;
    padding: 5px;
    text-align: center;
}
main {
    min-width: 900px;
    max-width: 1100px;
    position: relative;
    z-index: 1;  
}

/* ===== GLOBAL COMPONENTS ===== */
a {
    
    text-decoration: none;
    cursor: pointer;
}
button {
    border: none;
    background: none;
    border: 1px solid rgb(0, 0, 0);
    cursor: pointer;
    color: black;
}
ul {
    padding: 0;
}
li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

/* ===== GLOBAL PAGE STYLES ===== */
.page-header {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
}

/* ===== GLOBAL FORM STYLES ===== */
.form-page {
    z-index: 50;
    border: 2px solid red;
    position: fixed;
    background: white;
    display: flex;
    flex-direction: column;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.user-form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

/* ===== DARK MODE ===== */
.dark-mode {
    color: white;
    background: rgb(11, 12, 19); 
}
.dark-mode a {
    color: white;
}
.dark-mode button {
    color: white;
}
.dark-mode .root-header {
    background: rgb(22, 24, 36);
}
.dark-mode .nav-bar-left {
    color: white;
}
.dark-mode .nav-bar-right a button {
    color: white;
}
.dark-mode button {
    border: 1px solid white;
}
.dark-mode .page > * {
    background: rgb(22, 24, 36);
}
.dark-mode .post-feed {
    background: rgb(11, 12, 19);
}
.dark-mode .post {
    background: rgb(22, 24, 36);
    color: white;
}


